.container {
    margin: 0 auto;
}

.jumbotron {
    background-image: url("./bike-background.jpg");
    background-size: cover;
    background-position: left;
}

.navbar {
    width: 100%;
    color: white;
}

.container {
    margin: 0 auto;
}

.row {
    width: 100%;
}

.colornav {
    background-color: rgb(158, 155, 145);
    height: 40px;
}

.form-control {
    width: 60px;
}

.imgstyle {
    width: 400px;
}